#index{
  width: 960px;
  height: 600px;
  margin: 0 auto;
  background-image:linear-gradient(to bottom, #58c0c7 , #0099CC);
  background-repeat: no-repeat;
}

#Newuser{
  width: 960px;
  height: 100%;
  margin: 0 auto;
  background-image:linear-gradient(to bottom, #58c0c7 , #0099CC);
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 150px;
  text-align: center;
}

#first-name {
  float: left;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 75px;
  margin-left: 225px;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 200px;
}

#sign-in-form {
  width: 405px;
  height: 175px;
  background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  margin-left: 270px;
  margin-top: -50px;
}

#new-request-form {
  background-color: white;
  border-radius: 3px;
  width: 940px;
  height: 230px;
  margin-top: 150px;
}
#new-user-form {
  width: 500px;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
}

input[type=email]{
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 350px;
    background: #FFFFFF;
}
input[type=password]{
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 200px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 350px;
    background: #FFFFFF;
}

input[id="new-city"]{
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 500px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 130px;
    background: #FFFFFF;
}

input[type=tel]{
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 350px;
    background: #FFFFFF;
}

input[id="new-firstname"]{
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 160px;
    background: #FFFFFF;
}

input[id="new-lastname"]{
    margin-left: 5px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 160px;
    background: #FFFFFF;
}

input[id="new-zipcode"]{
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-right: 500px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 130px;
    background: #FFFFFF;
}

#content {
  overflow: auto;
  height: 100%;
}
#nav, #feature, #footer{
  padding: 10px;
  margin: 10px;
}
.column1, .column2, .column3 {
  width: 300px;
  float: left;
  margin: 10px;
}

h2 {
  color: #58c0c7;
  margin-top: 3px;
  margin-bottom: 0px;
  padding-bottom: 2px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  text-align: center;
}

h3 {
  color: #58c0c7;
  margin-top: 6px;
  margin-right: 280px;
  margin-bottom: 0px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  text-align: center;

}

h4 {
  font-size: 35px;
  font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-left: 15px;

}

#jointitle {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 35px;
  color: #58c0c7;
  padding-top: 30px;
}

#log-out {
  font-size: 14px;
  font-color: black;
  font-family: "Helvetica Neue", sans-serif;
}
#whitespace1 {
  width: 400px;
  height: 160px;
  border-radius: 3px;
  margin-top: 0px;
  background-color: white;
  display: inline-block;
  padding: 10px;
  margin-left: 300px;
}

.whitespace2 {
  width: 750px;
  height: 700px;
  border-radius: 3px;
  margin-top: 30px;
  margin-left: 115px;
  background-color: white;
  display: inline-block;
}

#whitespace3 {
  width: 900px;
  height: 650px;
  margin-top: 30px;
  margin-left: 350px;
  border-radius: 3px;
  background-color: white;
  display: inline-block;
}

#whitespace4 {
  width: 900px;
  height: 650px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: white;
  display: inline-block;
}

#navbar {
  background-color: white;
  width: 2000px;
  height: auto;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 5px;
  margin-left: -520px;
}
/*
#user-feed {
  padding-top: 10px;
  font-size: 14px;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  color: white;}
*/

#other-feed {
  font: normal 40px/100% Verdana, Tahoma, sans-serif; ;
}

.inputboxes {
  margin-left: 125px;
}

.signup {
  padding-top: 10px;
  font-size: 14px;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}




.styled-button-7 {
  background: #FF5DB1;
  background: -moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
  background: -webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FF5DB1', endColorstr='#E94A86',GradientType=0);
  color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  font-size:16px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #E8124F;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: 116px;
  margin-top: 20px;
  margin-bottom: 6px;
}
.styled-button-8 {
  background: #FF5DB1;
  background: -moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
  background: -webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FF5DB1', endColorstr='#E94A86',GradientType=0);
  padding:5px 7px;
  color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  font-size:16px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #E8124F;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 75px;
  padding-right: 75px;
  margin-left: 75px;
  margin-top: 0px;
}

#invalid {
  margin-top: 25px;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

#content {overflow: auto;}

#nav. #feature. #footer {
    margin: 1%;}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;}

.column3 {margin-right: 0%;}

#nav, #footer {
    padding: 0.5em 0;}

#feature, .article {
    height: 10em;
    margin-bottom: 1em;}

#new-state {
    border: 1px solid #ccc;
    width: 150px;
    margin-left: 15px;
    margin-right: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

#new-state select {
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

#new-state select:focus {
    outline: none;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
    }

.request input {
    padding: 10px;
    margin-left: 825px;
    border-radius: 2px;
    width: auto;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    }

textarea {
    margin: 40px;
    margin-bottom: 10px;
    margin-top: -350px;
    border-radius: 3px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    background: #FFFFFF;
    }

textarea {
    width: 840px;
    height: 90px;
    line-height: 150%;
    }

.feed {
  width: 620px;
  text-align: left;
  display: inline;
}

.feed-title {
  text-align: left;
}

.contact-info {
  width: 300px;
  display: inline;
}
