body {
  background-image:linear-gradient(to bottom, #8dd2d9 , #58c0c7);
  background-repeat: no-repeat;
  width: 90%;
  margin: 0 auto;}

h1 {
  color: black;
  padding-top: 5px;
  padding-right: 550px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  text-align: right;
}
#content {overflow: auto;}

#nav. #feature. #footer {
    margin: 1%;}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;}

.column3 {margin-right: 0%;}

li {
    display: inline;
    padding: 0.5em;}
#nav, #footer {
    padding: 0.5em 0;}
#feature, .article {
    height: 10em;
    margin-bottom: 1em;}
}

#navbar {
  color: black;
  background: #fcfcfc;
  width: 100%;
  border-radius: 3px;
  float: left;
  margin: 0 0 3em 0px;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; 
  font-family: 'Roboto', sans-serif;
}
#navbar li {
float: left; 
}
#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#navbar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#navbar.align-right ul li {
  float: right;
}
#navbar.align-center ul {
  text-align: center;
}
#navbar ul li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#navbar ul li a:hover {
  color: #8dd2d9;
}
#navbar ul li a:hover:before {
  width: 100%;
}
#navbar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#navbar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#navbar ul li.last > a:after,
#navbar ul li:last-child > a:after {
  display: none;
}
#navbar ul li.active a {
  color: #333333;
}
#navbar ul li.active a:before {
  width: 100%;
}
#navbar.align-right li.last > a:after,
#navbar.align-right li:last-child > a:after {
  display: block;
}
#navbar.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #navbar ul li {
    float: none;
    display: block;
  }
  #navbar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #navbar ul li.last > a,
  #navbar ul li:last-child > a {
    border: 0;
  }
  #navbar ul li a:after {
    display: none;
  }
  #navbar ul li a:before {
    display: none;
  }
}
form {
  width: 600px;
  border-radius: 3px;
  background-color: white;
  display: inline-block;
}
input, textarea {
    margin-left: 15px; 
    border-radius: 3px;
    padding: 9px;
    border: solid 1px #E5E5E5; 
    outline: 1px; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    width: 200px; 
    background: #FFFFFF; 
    } 
   
textarea { 
    width: 550px; 
    max-width: 550px; 
    height: 90px; 
    line-height: 150%; 
    } 
   
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    } 
   
.form label { 
    margin-left: 10px; 
    color: #999999; 
    } 
   
.submit input { 
    padding: 10px;
    margin-top: -500px;
    margin-left: 508px;
    border-radius: 2px;
    width: auto;  
    background: #617798; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF; 
    }
