#index {
  width: 960px;
  height: 600px;
  margin: 0 auto;
  background-image:linear-gradient(to bottom, #58c0c7 , #0099CC);
  background-repeat: no-repeat;
}

#Newuser, #Userprofile {
  width: 960px;
  margin: 0 auto;
  background-image:linear-gradient(to bottom, #58c0c7 , #0099CC);
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 150px;
  text-align: center;
}

h2 {
  color: black;
  margin-top: 3px;
  margin-bottom: 0px;
  padding-bottom: 2px;
  font-family: 'Lobster', cursive;
  font-size: 48px;
  text-align: center;
}

h3 {
  /*color: #58c0c7;*/
  margin-top: 6px;
  margin-bottom: 0px;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  /*margin-right: 280px;*/
  /*text-align: center;*/
}

h4 {
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-top: 6px;
  margin-bottom: 6px;
}

#navbar {
  font-size: 14px;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  text-align: left;
  background-color: white;
  width: 100%;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  /*margin-left: -520px;*/
  /*margin-bottom: 50px;*/
  /*height: auto;*/
}

li {
  /*float: left;*/
  display: inline;
}

#first-name {
  /*float: left;*/
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 75px;
  /*margin-left: 225px;*/
  /*margin-right: 200px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#sign-in-form {
  width: 405px;
  height: 175px;
  background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  margin-left: 270px;
  margin-top: -50px;
}

span.new-request {
  /*width: 800px;*/
  display: block;
  padding: 20px;
  text-align: center;
  display: flex;
  /*justify-content: space-around;*/
  /*margin-left: auto;*/
}

textarea {
/*  margin: 40px;
  margin-bottom: 10px;
  margin-top: -350px;*/
  border-radius: 3px;
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 1px;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  background: #FFFFFF;
  width: 780px;
  height: 90px;
  line-height: 150%;
  margin-bottom: 20px;
}

#new-request-form {
  background-color: white;
  border-radius: 3px;
  width: 800px;
  /*height: 230px;*/
  /*text-align: center;*/
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

#new-request-button {
  padding: 10px;
  border-radius: 5px;
  /*width: auto;*/
  background: #617798;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  float: right;
  outline: 0px;
  display: block;
}

#request-error {
  float: left;
  font-size: 14px;
  margin: 0px;
  font-family: 'Lobster', cursive;
}

#new-user-form {
  width: 540px;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
}

input[type=email]{
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 350px;
    background: #FFFFFF;
}

input[type=password]{
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 200px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 350px;
    background: #FFFFFF;
}

input[id="new-city"]{
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 500px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 130px;
    background: #FFFFFF;
}

input[type=tel]{
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 350px;
    background: #FFFFFF;
}

input[id="new-firstname"]{
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 160px;
    background: #FFFFFF;
}

input[id="new-lastname"]{
    margin-left: 5px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 160px;
    background: #FFFFFF;
}

input[id="new-zipcode"]{
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-right: 500px;
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 1px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 130px;
    background: #FFFFFF;
}

#jointitle {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 35px;
  color: #58c0c7;
  padding-top: 30px;
}


#whitespace1 {
  width: 400px;
  height: 160px;
  border-radius: 3px;
  margin-top: 0px;
  background-color: white;
  display: inline-block;
  padding: 10px;
  margin-left: 300px;
}

.whitespace2 {
  width: 750px;
  height: 700px;
  border-radius: 3px;
  margin-top: 30px;
  margin-left: 115px;
  background-color: white;
  display: inline-block;
}

#whitespace3 {
  width: 900px;
  height: 650px;
  margin-top: 30px;
  margin-left: 350px;
  border-radius: 3px;
  background-color: white;
  display: inline-block;
}

#whitespace4 {
  width: 900px;
  height: 650px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: white;
  display: inline-block;
}

.inputboxes {
  margin-left: 125px;
}

.signup {
  padding-top: 10px;
  font-size: 14px;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

.styled-button-7 {
  background: #FF5DB1;
  background: -moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
  background: -webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FF5DB1', endColorstr='#E94A86',GradientType=0);
  color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  font-size:16px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #E8124F;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: 116px;
  margin-top: 20px;
  margin-bottom: 6px;
}
.styled-button-8 {
  background: #FF5DB1;
  background: -moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
  background: -webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: -ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  background: linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FF5DB1', endColorstr='#E94A86',GradientType=0);
  padding:5px 7px;
  color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  font-size:16px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #E8124F;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 75px;
  padding-right: 75px;
  margin-left: 75px;
  margin-top: 0px;
}

#invalid {
  margin-top: 25px;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

#content {
  overflow: auto;
  }

#nav. #feature. #footer {
  margin: 1%;}

.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;}

.column3 {
  margin-right: 0%;
}

#nav, #footer {
  padding: 0.5em 0;
}

#feature, .article {
  height: 10em;
  margin-bottom: 1em;
}

#new-state {
  border: 1px solid #ccc;
  width: 150px;
  margin-left: 15px;
  margin-right: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

#new-state select {
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

#new-state select:focus {
  outline: none;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #C9C9C9;
}

.feed {
  width: 620px;
  text-align: left;
  display: inline;
}

.feed-title {
  text-align: center;
}

/*.contact-info {
  width: 300px;
  display: inline;
  position: fixed;
}*/

button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color:#ffec64;
  text-shadow:0px 1px 0px #ffee66;
  border:1px solid #ffaa22;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  outline: 0px;
  width: 125px;
}

.respondButton {
  margin-left: 415px;
  -moz-box-shadow:inset 0px 1px 0px 0px #40A826;
  -webkit-box-shadow:inset 0px 1px 0px 0px #40A826;
  box-shadow:inset 0px 1px 0px 0px #40A826;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #48FF66), color-stop(1, #45B529));
  background:-moz-linear-gradient(top, #48FF66 5%, #45B529 100%);
  background:-webkit-linear-gradient(top, #48FF66 5%, #45B529 100%);
  background:-o-linear-gradient(top, #48FF66 5%, #45B529 100%);
  background:-ms-linear-gradient(top, #48FF66 5%, #45B529 100%);
  background:linear-gradient(to bottom, #48FF66 5%, #45B529 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#48FF66', endColorstr='#45B529',GradientType=0);
  background-color:#48FF66;
  text-shadow:0px 1px 0px #45B529;
  border:1px solid #45B529;
}

.deactivateButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
  background-color:#ffab23;
}

.respondButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #45B529), color-stop(1, #48FF66));
  background:-moz-linear-gradient(top, #45B529 5%, #48FF66 100%);
  background:-webkit-linear-gradient(top, #45B529 5%, #48FF66 100%);
  background:-o-linear-gradient(top, #45B529 5%, #48FF66 100%);
  background:-ms-linear-gradient(top, #45B529 5%, #48FF66 100%);
  background:linear-gradient(to bottom, #45B529 5%, #48FF66 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45B529', endColorstr='#48FF66',GradientType=0);
  background-color:#45B529;
  /*background-color:#48FF66;*/
}

button:active {
  position:relative;
  top:1px;
}

#feed-container {
  position: relative;
}

#user-info {
  width: 200px;
  float: left;
  display: inline;
  /*height: 300px;*/
}

#feed-data {
  text-align: left;
  width: 540px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  float: left;
}

#contact-info {
  width: 200px;
  float: left;
  display: inline;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 15px;
  /*height: 300px;*/
  /*position: fixed;*/
}

.sticky {
    top: 0;
    position: fixed;
    right: 0;
    /*transform: translateX(-100%);*/
    /*left: 1000px;*/
}

#feed-container {
  /*margin-top: 4px;*/
  /*margin-bottom: 4px;*/
}

p {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 17px;
/*  font-family: "Helvetica Neue", sans-serif;
  padding-left: 20px;*/
}
